CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.a
povmodeler
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
*_autogen/
*.moc
src/povmodeleradaptor.*
.*
build/
old-stuff/*
povmodeler.creator.*
config.h
src/generatedfiles
version.h
*.bak
depend
