CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.a
povmodeler
povmodeler.cflags
povmodeler.config
povmodeler.creator
povmodeler.creator.user
povmodeler.cxxflags
povmodeler.files
povmodeler.includes
*_autogen/
*.moc
src/povmodeleradaptor.*
.*
build/
old-stuff/*
povmodeler.creator.*
src/config.h
src/generatedfiles
src/version.h

