[Desktop Entry]
Encoding=UTF-8
Name=Pov Modeler
Type=Application
Comment=Pov Modeler
X-DocPath=povmodeler/index.html
Exec=povmodeler
Icon=povmodeler.png
MimeType=application/x-kpovmodeler;
Categories=Qt;Graphics;
